
.title{
    margin-top: min(40%, 8rem);
    margin-bottom: min(20%, 4.5rem);
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-name{
    display: flex;
    padding: 0 3%;
}

.last-name{
    display: flex;
    padding: 0 3%;
}

.name{
    font-size: min(6.5rem, 17vw);
    color: white;
    font-weight: 250;
    font-family: 'Rubik Mono One', sans-serif;
    user-select: none;
    position: relative;
    top: -500%;
}

@keyframes letter-drop {
    from {top: -500%;}
    to {top: 0;}
}

#j{
    animation: letter-drop 0.7s ease 3.3s 1 normal forwards;
}

#a1{
    animation: letter-drop 0.7s ease 2.6s 1 normal forwards;
}

#w{
    animation: letter-drop 0.7s ease 2.1s 1 normal forwards;
}

#a2{
    animation: letter-drop 0.7s ease 2s 1 normal forwards;
}

#d{
    animation: letter-drop 0.7s ease 2.3s 1 normal forwards;
}

#m{
    animation: letter-drop 0.7s ease 1.3s 1 normal forwards;
}

#a3{
    animation: letter-drop 0.7s ease 0.75s 1 normal forwards;
}

#k1{
    animation: letter-drop 0.7s ease 1s 1 normal forwards;
}

#k2{
    animation: letter-drop 0.7s ease 1.2s 1 normal forwards;
}

#i{
    animation: letter-drop 0.7s ease 0.5s 1 normal forwards;
}

.developer{
    font-size: min(6vw, 2.5rem);
    padding: 0 5%;
    color: white;
    text-align: center;
    user-select: none;
    margin-bottom: 10%;
    position: relative;
    left: 200%;
    animation: dev-swoop-in 1s ease 4s 1 normal forwards;
}

@keyframes dev-swoop-in {
    from {left: 200%;}
    to {left: 0;}
}