*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(7, 85, 80); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(68, 155, 173); 
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}

.name-container, .portfolio-container, .contact-container{
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
}

.portfolio-container{
    background: rgb(10, 116, 109);
}

.name-bg, .portfolio-bg, .contact-bg{
    display: flex;
    width: 90%;
    background: white;
    flex-wrap: wrap;
}

.name-bg{
    background: rgb(10, 116, 109);
    border-radius: 0 0 0 75px;
    margin-left: 10vw;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.portfolio-bg{
    margin-right: 10vw;
    border-radius: 0 75px 75px 0;
    justify-content: space-evenly;
}

.contact-bg{
    background: rgb(10, 116, 109);
    border-radius: 75px 0 0 0;
    margin-left: 10vw;
    justify-content: center;
}

.btns-container{
    display: flex;
    justify-content: flex-end;
    min-height: calc(3rem + 4%);
}

.dark-mode-btn, .light-mode-btn{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: 4%;
    margin-right: 4%;
    cursor: pointer;
}

.dark-mode-btn:hover, .light-mode-btn:hover{
    opacity: 0.7;
}

.dark-mode-btn{
    background: rgb(1, 22, 27);
}

.jawad-makki{
    text-align: center;
    font-size: min(6.5rem, 17vw);
    color: white;
    font-weight: 250;
    margin-top: min(40%, 8rem);
    margin-bottom: min(20%, 4.5rem);
    padding: 0 5%;
    user-select: none;
}

.developer{
    font-size: min(6vw, 2.5rem);
    padding: 0 5%;
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    user-select: none;
    margin-bottom: 10%;
}

.site-container{
    width: min(15rem, 70vw);
    height: min(15rem, 70vw);
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site{
    font-size: min(2.5rem, 6vw);
    text-align: center;
}

.contact{
    font-size: 3rem;
    padding: 20% 10%;
    color: white;
    font-weight: 100;
}