*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto Mono', monospace;
}

body, html{
    overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track for scrollbar */
::-webkit-scrollbar-track {
    background: rgb(32, 34, 36); 
}

/* Handle of scrollbar */
::-webkit-scrollbar-thumb {
    background: rgb(136, 165, 162); 
    border-radius: 5px;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}

/* All the main three containers */
.container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

/* All the main three backgrounds */
.background{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    background: white;
}

/******************* Start of name container stuff *******************/

#name-bg{
    background: rgb(10, 116, 109);
    border-radius: 0 0 0 100px;
    margin-left: 10vw;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/* Container of all four change color buttons */
.btns-container{ 
    display: flex;
    justify-content: space-between;
    min-height: calc(3rem + 4%);
}

/* Both of the groups of two change colour buttons */
.button-group{ 
    min-height: calc(3rem + 4%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 5rem;
    margin-right: 2%;
    margin-left: 2%;
}

.color-btn{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: 5%;
    margin-right: 5%;
    cursor: pointer;
}

.color-btn:hover{
    opacity: 0.7;
}

#red-mode-btn, #blue-mode-btn{
    margin-left: 5%;
    margin-right: 0;
}

#dark-mode-btn{
    background: rgb(1, 22, 27);
}

#red-mode-btn{
    background: rgb(88, 2, 2);
}

#blue-mode-btn{
    background: rgb(0, 255, 242);
}

/******************* End of name container stuff *******************/

/******************* Start of portfolio container stuff *******************/

#portfolio-container{
    background: rgb(10, 116, 109);
}

#portfolio-bg{
    margin-right: 10vw;
    border-radius: 0 100px 100px 0;
    justify-content: space-evenly;
}

.site-container{
    width: min(16.5rem, 60%);
    margin: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-btn{
    background: transparent;
}

.site{
    cursor: pointer;
    width: 100%;
}

/******************* End of portfolio container stuff *******************/

/******************* Start of contact container stuff *******************/

#contact-bg{
    background: rgb(10, 116, 109);
    border-radius: 100px 0 0 0;
    margin-left: 10vw;
    justify-content: center;
    flex-direction: column;
}

.all-info{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.my-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    padding-left: 7%;
}

.email{
    color: white;
    font-size: min(3rem, 10vw);
    margin-bottom: 5%;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 100;
}

.my-email{
    color: white;
    font-size: min(2rem, 5vw);
    margin-bottom: 5%;
    font-weight: 100;
}

.your-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    padding-left: 7%;
}

.your-email, .your-message, .send{
    border: 2px solid black;
    border-radius: 5px;
    width: min(27rem, 60vw);
    padding: 2% 4%;
    font-size: min(1.3rem, 5vw);
    margin-bottom: 3%;
    background: white;
    opacity: 0.8;
}

.send{
    width: min(10rem, 20vw);
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.9);
    cursor: pointer;
}

.send:hover{
    opacity: 1;
    background: rgb(255, 255, 255, 1);

}

.your-message{
    height: 12rem;
    resize: none;
}

.your-email:focus, .your-message:focus{
    outline: 0;
    opacity: 1;
}

#coding-for{
    color: white;
    font-size: min(4.5vw, 1.3rem);
    font-weight: 550;
    text-align: center;
    margin-bottom: 5vh;
    padding: 0 10%;
}

@media screen and (min-width: 1161px) {
    .all-info{
        justify-content: flex-start;
    }
}

/******************* End of contact container stuff *******************/