*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
    font-family: 'Roboto Mono', monospace;
}

body, html{
    overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track for scrollbar */
::-webkit-scrollbar-track {
    background: rgb(32, 34, 36); 
}

/* Handle of scrollbar */
::-webkit-scrollbar-thumb {
    background: rgb(136, 165, 162); 
    border-radius: 5px;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}

/* All the main three containers */
.container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    min-height: 100svh;
}

/* All the main four backgrounds */
.background{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    background: white;
}

/******************* Start of name container stuff *******************/

#name-bg{
    position: relative;
    background: rgb(10, 116, 109);
    border-radius: 0 0 0 100px;
    margin-left: 10vw;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
}

.palette{
    margin: 3%;
    font-size: 1.7rem;
    align-self: flex-end;
    margin-right: 6%;
    color: white;
    background: transparent;
    cursor: pointer;
    opacity: 0.7;
}

.palette:hover{
    opacity: 1 !important;
}

/* Container of all four change color buttons */
.btns-container{ 
    display: none;
    position: absolute;
    top: 8%;
    right: 8.5%;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(3rem + 4%);
    width: 13rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    border-top-right-radius: 0;
}

/* Both of the groups of two change colour buttons */
.button-group{ 
    min-height: calc(3rem + 4%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 5rem;
    margin-right: 2%;
    margin-left: 2%;
}

.color-btn{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: 5%;
    margin-right: 5%;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .btns-container{
        top: 4%;
        right: 12.5%;
        width: 10rem;
    }

    .button-group{
        min-width: 4rem;
    }

    .color-btn{
        width: 1.75rem;
        height: 1.75rem;
        margin: 3% 4%;
    }
}

.color-btn:hover{
    opacity: 0.7;
}

#red-mode-btn, #blue-mode-btn{
    margin-left: 5%;
    margin-right: 0;
}

#dark-mode-btn{
    background: rgb(0, 14, 17);
}

#red-mode-btn{
    background: rgb(155, 7, 7);
}

#blue-mode-btn{
    background: rgb(0, 255, 242);
}

/******************* End of name container stuff *******************/

/******************* Start of portfolio container stuff *******************/

#portfolio-container{
    background: rgb(10, 116, 109);
}

#portfolio-bg{
    margin-right: 10vw;
    border-radius: 0 100px 100px 0;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 10%;
}

.my-projects{
    color: rgb(0, 26, 24);
    font-size: min(3.5rem, 7vw);
    margin: 5% 0;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 100;
    justify-self: center;
    text-align: center;
    width: 100%;
}

.portfolio-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60%;
    justify-content: center;
}

.site-container{
    width: min(15rem, 70%);
    margin: 5% 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-container:hover{
    opacity: 85%;
}

.site-btn{
    background: transparent;
}

.site{
    cursor: pointer;
    width: 100%;
}

@media screen and (min-width: 1100px) {
    #portfolio-bg{
        padding: 3rem;
    }

    .site-container{
        margin: auto 3rem;
    }
}

/******************* End of portfolio container stuff *******************/

/******************* Start of mech portfolio container stuff *******************/

.white-strip{
    width: 10svw;
    height: 120vh;
    position: absolute;
    left: 0;
    background: white;
}

#mech-portfolio-bg{
    background: rgb(10, 116, 109);
    border-radius: 100px 0 0 100px;
    margin-left: 10vw;
    justify-content: center;
    flex-direction: column;
}

.my-other-projects{
    color: white;
    font-size: min(3.5rem, 7vw);
    margin: 5% 0;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 100;
    justify-self: center;
    text-align: center;
    width: 100%;
}

.all-projects{
    height: 70%;
    width: 90%;
    margin-left: 8%;
}

.project-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
}

#egg-container, #chair-container{
    display: none;
    left: 200%;
}

.project{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.project-title{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 5%;
}

.project-description{
    color: white;
    width: 25%;
    text-align: right;
    align-self: center;
    font-size: 1.25rem;
}

.photos{
    width: 65%;
}

.project-photo{
    width: 40%;
    height: 95%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 5px;
}

.project-btn{
    background: transparent;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 250%;
    left: 200%;
    cursor: pointer;
}

#arrow-one{
    left: 95%;
}

/******************* End of mech portfolio container stuff *******************/

/******************* Start of contact container stuff *******************/

#contact-container{
    background: rgb(10, 116, 109);
}

#contact-bg{
    margin-right: 10vw;
    border-radius: 0 100px 0 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.all-info{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.my-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    padding-left: 15%;
    padding-right: 8%;
}

.email{
    user-select: none;
    color: rgb(0, 26, 24);
    font-size: min(3rem, 10vw);
    margin-bottom: 5%;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 100;
}

.my-email{
    color: rgb(0, 26, 24);
    font-size: min(2rem, 5vw);
    font-weight: 100;
}

.your-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    padding-left: 7%;
}

.your-email, .your-message, .send{
    border: 2px solid black;
    border-radius: 5px;
    width: min(27rem, 60vw);
    padding: 2% 4%;
    font-size: min(1.3rem, 5vw);
    margin-bottom: 3%;
    background: white;
    opacity: 0.8;
}

.send{
    width: min(10rem, 20vw);
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.9);
    cursor: pointer;
}

.send:hover{
    opacity: 1;
    background: rgb(255, 255, 255, 1);
}

.your-message{
    height: 12rem;
    resize: none;
}

.your-email:focus, .your-message:focus{
    outline: 0;
    opacity: 1;
}

#coding-for{
    color: rgb(7, 54, 50);
    font-size: min(4.5vw, 1.3rem);
    font-weight: 550;
    text-align: center;
    margin-bottom: 5vh;
    padding: 0 10%;
    user-select: none;
}

@media screen and (min-width: 1450px) {
    .all-info{
        justify-content: flex-start;
    }
}

/******************* End of contact container stuff *******************/
